body{
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
}

form{
    max-width: 50%;
    margin: auto;
    margin-top: 30px;
    padding: 10px 50px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.4);
}

#textBox{
    width: 50%;
    margin-right: 10px;
    text-align: center;
    font-size: 2em;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid hsla(0, 0%, 0%, 0.7);
}

#toReset{
    font-size: 1.2em;
    border-radius: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.tempContainer{
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label{
    font-size: 1.3em;
    font-weight: bold;
}
 
#toConvert{
    margin-top: 15px;
    background-color: hsla(180, 100%, 50%, 0.4);
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

#toConvert:hover{
    background-color: hsla(180, 100%, 50%, 1);
}

p{
    font-size: 2em;
    font-weight: bold;
}